In [1]:
import pandas as pd

In [6]:
df4 = pd.read_csv("중간저장4.csv", encoding = "utf-8") # 전처리 완료
df1 = pd.read_csv("중간저장.csv", encoding = "utf-8", index_col = False)

db = df4

db['배우'] = df1['배우']
db['감독'] = df1['감독']

In [14]:
db.columns['영화명', '개봉일', '누적관객수', '배급사', '감독', '배우']

Index(['영화명', '개봉일', '매출액', '누적매출액', '관객수', '누적관객수', '스크린수', '상영횟수', '대표국적',
       '배급사', '등급', '장르', '감독', '배우'],
      dtype='object')

In [16]:
db = db[['영화명', '개봉일', '누적관객수', '배급사', '감독', '배우']]

In [32]:
db.head(10)

,영화명,개봉일,누적관객수,배급사,감독,배우
0,"416 프로젝트 ""공동의 기억: 트라우마""",1900-01-01,437,0,416연대미디어위원회,0
1,미씨카: 더 네크로맨서,2017-11-02,60,(주)제이에이와이이엔터테인먼트,A.토드스미스,"애덤존슨,로버트제인,케빈소르보"
2,월드 워 핵전쟁의 서막,2019-03-07,17,주식회사풍경소리,A.K.스트롬,"모건브래들리,그레이엄빈센트,캠벨루셀"
3,울프라이징,2016-11-17,60,주식회사루믹스미디어,BC퍼트니,빌오버스트주니어
4,제3의앵글 : 형형색색대만전,1900-01-01,305,0,BITO,0
5,연쇄살인마의 이중생활,2020-06-18,7,주식회사마운틴픽쳐스,C.마틴페레라,"안나알렌,나초프레스네다,메르세데스카스트로"
6,몬스터 아일랜드,2017-10-27,1,주식회사레드아이스,C.블레이크에번든,존W.바우어스
7,잃어버린 세계를 찾아 2015,2015-12-03,1,(유)조이앤컨텐츠그룹,C.토마스하우웰,"C.토마스하우웰,티모시바톰즈"
8,과부: 탐스러운 육체,2016-11-19,1,(주)영진크리에이티브,C.나가후쿠,"타치바나케이코,이치죠리노"
9,페이스트리의 왕,1900-01-01,107,0,"D.A.페네베이커,크리스헤지더스",0

In [9]:
# 배우 공백 제거

for i in range(len(db["배우"])):
    if type(db["배우"][i]) == float:
        db["배우"][i] = 0
    else:
        List = db["배우"][i].split(" ")
        db["배우"][i] = "".join(List)

<ipython-input-9-37a2072e3c0d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db["배우"][i] = "".join(List)

In [10]:
# 감독 공백 제거

for i in range(len(db["감독"])):
    if type(db["감독"][i]) == float:
        db["감독"][i] = 0
    else:
        List = db["감독"][i].split(" ")
        db["감독"][i] = "".join(List)

<ipython-input-10-f607d7e664db>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db["감독"][i] = "".join(List)

In [33]:
db.to_csv("DB_data.csv", index = False, encoding = 'utf-8-sig', sep = ',')