In [3]:
import pandas as pd
import numpy as np

In [4]:
movie = pd.read_csv('Movie_Total.csv', encoding = 'cp949')

C:\Users\dw\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,9,78) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# 값이 없는 열 제거

movie = movie.loc[:, '순위' : '배우 ']

In [6]:
# 열 이름 변경
movie.columns = ['순위', '영화명', '개봉일', '매출액', '매출액 점유율', '누적매출액', '관객수', '누적관객수',
       '스크린수', '상영횟수', '대표국적', '국적', '제작사', '배급사', '등급', '장르', '감독', '배우']

In [253]:
movie.head(5)

,순위,영화명,개봉일,매출액,매출액 점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
0,1,명량,2014-07-30,1.360000e+11,0.042,1.360000e+11,17613682,17613682,1587,188611,한국,한국,(주)빅스톤픽쳐스,(주)씨제이이엔엠,15세이상관람가,"사극,액션",김한민,"최민식,류승룡,조진웅,김명곤,진구,이정현,권율,노민우,이승준,오타니 료헤이,박보검,박원우,서성광,오명훈,유명환,윤희경,이윤기,정수남,정순태,정의석,김원해,이해영,장준녕,김길동,김강일,강태영,하형원,한상대,김동원,김민석,김민식,김재철,김준형,김현중,박선용,박노식,최덕문,조복래,문영동,이주실,주석태,이성우,고경표,김태훈,한이진,신유람,송대중"
1,2,7번방의 선물,2013-01-23,9.143195e+10,0.028,9.143195e+10,12811213,12811213,866,166817,한국,한국,"(주)화인웍스,(주)씨엘엔터테인먼트",(주)넥스트엔터테인먼트월드(NEW),15세이상관람가,"코미디,드라마",이환경,"류승룡,박신혜,갈소원,정진영,오달수,박원상,김정태,정만식,김기천,장호준,김동민,박수진,박유경,박정배,조덕현,박상면,조재윤,박길수,이승연,김봉수,정희태,이윤희,오창경,한이진"
2,3,변호인,2013-12-18,8.287178e+10,0.026,8.287178e+10,11374618,11374618,925,152267,한국,한국,위더스필름(주),(주)넥스트엔터테인먼트월드(NEW),15세이상관람가,드라마,양우석,"송강호,김영애,오달수,곽도원,임시완,송영창,정원중,조민기,이항나,이성민,차광수,한기중,심희섭,김동현,조완기,차은재,최주희,주명철,조선묵,유하복,김봉환,지건우,최은석,최현,최정현,박상현,신안진,조기왕,조유신,이선희,장리우,정준원,이정은,이진희,민경옥,정성화,박성근,신승용,김찬이,원호섭,윤탁,한승도,조용준,정재민,권오진,이설구,노영하,장우진,이해성,김승태,신욱,황건,권영국,양명헌,정원조,윤준호,이호원,설창희,홍도성,김형석,김호진,양정인,이동현,이정건,김리후,육미옥,김호연,백성식,김선주,김가영,이준기,이형은,김서영,오병남,전광진,조현덕,김경인,이상호,김성민,류수영,박수영,이경인,최태환,김서영,이현정,설창희,양도현"
3,4,겨울왕국,2014-01-16,8.246150e+10,0.026,8.246150e+10,10296101,10296101,1010,157683,미국,미국,NaN,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),전체관람가,"애니메이션,어드벤처,가족,코미디,뮤지컬,판타지","크리스 벅,제니퍼 리","이디나 멘젤,크리스틴 벨,조나단 그로프,조시 게드"
4,5,인터스텔라,2014-11-06,8.067142e+10,0.025,8.067142e+10,10105247,10105247,1410,166218,미국,"미국,영국",NaN,워너브러더스 코리아(주),12세이상관람가,SF,크리스토퍼 놀란,"매튜 매커너히,앤 해서웨이,마이클 케인,제시카 차스테인,케이시 애플렉"

In [7]:
del movie['순위']
del movie['매출액 점유율']
del movie['국적']
del movie['제작사']

In [8]:
movie.columns

Index(['영화명', '개봉일', '매출액', '누적매출액', '관객수', '누적관객수', '스크린수', '상영횟수', '대표국적',
       '배급사', '등급', '장르', '감독', '배우'],
      dtype='object')

# 1. 중복된 영화 찾기

In [9]:
pd.set_option('display.max_rows', 10000)

# 중복된 영화 확인하기
name_counts = movie['영화명'].value_counts()

In [10]:
# 영화 카운트만 따로 df로 만들기
n_c_df = pd.DataFrame(name_counts)

In [11]:
print(n_c_df.iloc[0, :].name)
print(int(n_c_df.iloc[0, :].values))

로미오와 줄리엣
17

In [12]:
# 중복된 영화 리스트

dupl = []

for i in range(len(n_c_df)):
    if int(n_c_df.iloc[i, :].values) > 1:
        dupl.append(n_c_df.iloc[i, :].name)

In [13]:
dupl[:10]

['로미오와 줄리엣',
 '라 트라비아타',
 '폭풍의 언덕',
 '토스카',
 '카르멘',
 '피아니스트',
 '백야',
 '졸업',
 'SIDOF2014',
 '여자의 일생']

In [14]:
movie[movie['영화명'] == '로미오와 줄리엣']

,영화명,개봉일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,배급사,등급,장르,감독,배우
554,로미오와 줄리엣,1996-12-28,84831500.0,84831500.0,12679,12679,47,1208,미국,"이십세기폭스코리아(주),(주)프레인글로벌",고등학생이상관람가,"멜로/로맨스,액션,드라마",바즈 루어만,"레오나르도 디카프리오,클레어 데인즈"
1571,로미오와 줄리엣,2013-09-26,10927500.0,10927500.0,776,776,12,86,영국,(주) 인스터 글로벌,전체관람가,공연,케네스 맥밀란,NaN
1740,로미오와 줄리엣,NaN,1010000.0,1010000.0,505,505,1,12,영국,NaN,NaN,멜로/로맨스,레나토 카스텔라니,로렌스 하비
2804,로미오와 줄리엣,2014-10-23,1505000.0,1505000.0,110,110,7,45,미국,(주) 인스터 글로벌,전체관람가,공연,데이빗 리보스,올랜도 블룸
7386,로미오와 줄리엣,NaN,4101000.0,5111000.0,2038,2543,1,16,영국,NaN,NaN,멜로/로맨스,레나토 카스텔라니,로렌스 하비
7998,로미오와 줄리엣,1996-12-28,4212400.0,89043900.0,569,13248,4,37,미국,"이십세기폭스코리아(주),(주)프레인글로벌",고등학생이상관람가,"멜로/로맨스,액션,드라마",바즈 루어만,"레오나르도 디카프리오,클레어 데인즈"
9028,로미오와 줄리엣,2014-10-23,1761000.0,3266000.0,142,252,1,7,미국,(주) 인스터 글로벌,전체관람가,공연,데이빗 리보스,올랜도 블룸
9286,로미오와 줄리엣,1978-12-30,892000.0,1238000.0,111,182,2,10,영국,NaN,12세관람가,"드라마,멜로/로맨스,사극",프랑코 제피렐리,"레오나르드 화이팅,올리비아 핫세,밀로 오세아"
14544,로미오와 줄리엣,2017-06-03,30322500.0,30322500.0,1306,1306,11,72,미국,(주) 인스터 글로벌,전체관람가,공연,NaN,NaN
14720,로미오와 줄리엣,2018-05-20,22906500.0,22906500.0,988,988,11,99,독일,(주)케빈앤컴퍼니,12세이상관람가,"공연,드라마,멜로/로맨스",위르겐 플림,"후안 디에고 플로레즈,아이다 가리풀리나"
15548,로미오와 줄리엣,NaN,498000.0,5609000.0,249,2792,1,15,영국,NaN,NaN,멜로/로맨스,레나토 카스텔라니,로렌스 하비
16230,로미오와 줄리엣,1978-12-30,284000.0,1522000.0,142,324,1,3,영국,NaN,12세관람가,"드라마,멜로/로맨스,사극",프랑코 제피렐리,"레오나르드 화이팅,올리비아 핫세,밀로 오세아"
17422,로미오와 줄리엣,1996-12-28,372500.0,89416400.0,62,13310,1,4,미국,"이십세기폭스코리아(주),(주)프레인글로벌",고등학생이상관람가,"멜로/로맨스,액션,드라마",바즈 루어만,"레오나르도 디카프리오,클레어 데인즈"
22430,로미오와 줄리엣,1996-12-28,55037000.0,144453400.0,6982,20292,57,554,미국,"이십세기폭스코리아(주),(주)프레인글로벌",고등학생이상관람가,"멜로/로맨스,액션,드라마",바즈 루어만,"레오나르도 디카프리오,클레어 데인즈"
25795,로미오와 줄리엣,NaN,106000.0,5715000.0,53,2845,1,6,영국,NaN,NaN,멜로/로맨스,레나토 카스텔라니,로렌스 하비
29937,로미오와 줄리엣,NaN,0.0,0.0,0,0,7,51,영국,NaN,NaN,공연,케네스 맥밀란,NaN
32528,로미오와 줄리엣,1978-12-30,346000.0,346000.0,71,71,1,3,영국,NaN,12세관람가,"드라마,멜로/로맨스,사극",프랑코 제피렐리,"레오나르드 화이팅,올리비아 핫세,밀로 오세아"

In [15]:
movie[movie['영화명'] == '라 트라비아타']

,영화명,개봉일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,배급사,등급,장르,감독,배우
869,라 트라비아타,2013-07-06,97614500.0,97614500.0,3997,3997,5,145,독일,(주)케빈앤컴퍼니,전체관람가,공연,후고 데 아나,NaN
1569,라 트라비아타,2012-10-23,10658000.0,47412500.0,782,2124,1,27,미국,(주) 인스터 글로벌,전체관람가,기타,윌리 데커,나탈리 드세이
7585,라 트라비아타,2015-08-12,22570500.0,22570500.0,1408,1408,12,96,영국,에스디시코리아 주식회사,전체관람가,공연,페터 콘비츠니,NaN
7985,라 트라비아타,2013-07-06,13349500.0,110964000.0,583,4580,6,57,독일,(주)케빈앤컴퍼니,전체관람가,공연,후고 데 아나,NaN
14370,라 트라비아타,2017-08-05,40719500.0,40719500.0,1768,1768,11,75,미국,(주) 인스터 글로벌,12세이상관람가,공연,NaN,NaN
14489,라 트라비아타,2018-03-04,20928000.0,20928000.0,1444,1444,11,79,독일,(주)케빈앤컴퍼니,12세이상관람가,공연,프랑코 제피렐리,플라시도 도밍고
14492,라 트라비아타,2017-01-22,35543500.0,35543500.0,1442,1442,10,91,독일,(주)케빈앤컴퍼니,12세이상관람가,공연,NaN,NaN
21538,라 트라비아타,2013-07-06,0.0,110964000.0,0,4580,1,1,독일,(주)케빈앤컴퍼니,전체관람가,공연,후고 데 아나,NaN
22674,라 트라비아타,2019-07-09,66860150.0,66860150.0,2842,2842,7,147,미국,(주) 인스터 글로벌,전체관람가,기타,NaN,NaN
23154,라 트라비아타,2017-01-22,16812500.0,52356000.0,1030,2472,6,49,독일,(주)케빈앤컴퍼니,12세이상관람가,공연,NaN,NaN
29930,라 트라비아타,2019-06-02,0.0,0.0,0,0,5,39,영국,에스디시코리아 주식회사,전체관람가,공연,리차드 이어,NaN
30947,라 트라비아타,2012-10-23,36754500.0,36754500.0,1342,1342,3,48,미국,(주) 인스터 글로벌,전체관람가,기타,윌리 데커,나탈리 드세이

# 2. 감독 따기

In [16]:
directors = []

for i in range(0, len(movie)):
    tmp = str(movie["감독"][i]).split(',')[0]
    
    directors.append(tmp)    

pd.Series(directors).value_counts() 

# nan 값이 많네?
# movie.iloc[[14370]]['감독']
# movie['감독'] = movie['감독'].astype(str) # str로 변경

# 첫번째 감독으로 변경
movie['감독'] = directors

In [17]:
movie['감독']

0              김한민
1              이환경
2              양우석
3            크리스 벅
4         크리스토퍼 놀란
           ...
35087    아키 카우리스마키
35088          nan
35089          nan
35090          전수일
35091          이병헌
Name: 감독, Length: 35092, dtype: object

In [18]:
nan_directors =  movie[movie['감독'].values == 'nan']
nan_directors.head(50)

,영화명,개봉일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,배급사,등급,장르,감독,배우
640,배꼽과 무릎사이,2014-05-22,49564000.0,49564000.0,7448,7448,20,118,한국,스크린조이,청소년관람불가,"멜로/로맨스,드라마",nan,"허동원,정호준,보리,지현"
976,2013 칸 국제광고제 수상작 특별상영회,NaN,29470000.0,29470000.0,2947,2947,2,110,기타,NaN,전체관람가,기타,nan,NaN
985,애꾸눈 잭,NaN,5777000.0,5777000.0,2882,2882,1,35,미국,NaN,NaN,기타,nan,NaN
990,마술피리,2014-08-02,41291500.0,41291500.0,2851,2851,5,112,독일,(주)쓰리캣프로덕션,전체관람가,공연,nan,NaN
1003,이브의 모든 것,NaN,5834000.0,6248000.0,2770,2908,1,19,미국,NaN,NaN,드라마,nan,NaN
1134,워터 프론트,NaN,4122000.0,4122000.0,2051,2051,1,16,NaN,NaN,NaN,NaN,nan,NaN
1168,라 보엠,2014-08-02,29297000.0,29297000.0,1899,1899,2,71,미국,(주) 인스터 글로벌,전체관람가,공연,nan,NaN
1173,2014 칸 국제광고제 수상작 특별상영회,NaN,18686000.0,18686000.0,1880,1880,2,80,기타,NaN,전체관람가,기타,nan,NaN
1227,보바리 부인,NaN,3346000.0,3752000.0,1673,1751,1,32,프랑스,NaN,15세이상관람가,NaN,nan,NaN
1389,샤레이드,NaN,2479000.0,2479000.0,1297,1297,1,31,NaN,NaN,NaN,NaN,nan,NaN
1406,스미스 워싱톤에 가다,NaN,2647000.0,3263000.0,1224,1532,1,15,NaN,NaN,NaN,NaN,nan,NaN
1593,과장된 자연 이야기,NaN,357000.0,357000.0,714,714,1,7,NaN,NaN,NaN,애니메이션,nan,NaN
1594,내 빨간 풍선,NaN,357000.0,357000.0,714,714,1,7,NaN,NaN,NaN,애니메이션,nan,NaN
1595,내가 책이라면,NaN,357000.0,357000.0,714,714,1,7,NaN,NaN,NaN,애니메이션,nan,NaN
1596,로켓보이,NaN,357000.0,357000.0,714,714,1,7,NaN,NaN,NaN,애니메이션,nan,NaN
1597,바다,NaN,357000.0,357000.0,714,714,1,7,NaN,NaN,NaN,애니메이션,nan,NaN
1599,빨간 사과 하나,NaN,357000.0,357000.0,714,714,1,7,NaN,NaN,NaN,애니메이션,nan,NaN
1600,섬 위의 주먹,NaN,357000.0,357000.0,714,714,1,7,NaN,NaN,NaN,애니메이션,nan,NaN
1601,장난감 병정의 사랑,NaN,357000.0,357000.0,714,714,1,7,NaN,NaN,NaN,애니메이션,nan,NaN
1637,라 체네렌톨라,2014-11-01,9908000.0,9908000.0,648,648,3,40,미국,(주) 인스터 글로벌,전체관람가,공연,nan,NaN
1685,뜨거운 포옹,NaN,1132000.0,1132000.0,566,566,1,7,NaN,NaN,NaN,NaN,nan,NaN
1687,톰 존스,NaN,1132000.0,1132000.0,566,566,1,12,NaN,NaN,NaN,NaN,nan,NaN
1692,지상 최대의 작전,NaN,1128000.0,1128000.0,564,564,1,12,NaN,NaN,NaN,NaN,nan,NaN
1709,라쇼몽,NaN,2176000.0,2176000.0,544,544,1,5,NaN,NaN,NaN,NaN,nan,NaN
1738,팔도 사나이,NaN,878000.0,878000.0,512,512,1,10,NaN,NaN,NaN,NaN,nan,최성
1779,빅 컨츄리,NaN,943000.0,943000.0,470,470,1,9,NaN,NaN,NaN,NaN,nan,NaN
1796,막차로 온 손님들,NaN,908000.0,908000.0,454,454,1,12,NaN,NaN,NaN,NaN,nan,NaN
1817,카이로의 붉은 장미,NaN,3011000.0,3011000.0,444,444,1,3,NaN,NaN,NaN,NaN,nan,NaN
1822,게이봉박두3: Some,NaN,3002000.0,3002000.0,436,436,1,6,한국,NaN,NaN,기타,nan,권기하
1836,창공에 산다,NaN,848000.0,848000.0,424,424,1,17,NaN,NaN,NaN,NaN,nan,NaN
1870,안네의 일기,NaN,794000.0,794000.0,397,397,1,8,NaN,NaN,NaN,NaN,nan,NaN
1877,피아니스트,NaN,3201200.0,3201200.0,394,394,3,16,독일,NaN,NaN,드라마,nan,NaN
1943,황야의 7인,NaN,714000.0,714000.0,356,356,1,9,NaN,NaN,NaN,NaN,nan,NaN
1949,정오의 출격,NaN,704000.0,704000.0,352,352,1,9,NaN,NaN,NaN,NaN,nan,NaN
1987,사운드 앤 사일런스 : ECM 이야기,NaN,2236000.0,2236000.0,330,330,1,2,스위스,NaN,NaN,"드라마,다큐멘터리",nan,NaN
2010,지상 최대의 쇼,NaN,636000.0,636000.0,318,318,1,9,NaN,NaN,NaN,NaN,nan,NaN
2019,건가 딘,NaN,620000.0,620000.0,310,310,1,6,NaN,NaN,NaN,NaN,nan,NaN
2028,이 밤이여 영원히,1972-07-27,610000.0,610000.0,305,305,1,9,한국,NaN,12세이상관람가,멜로/로맨스,nan,"신영균,전계현,최정민"
2042,인생은 소설이다,2008-10-14,1934000.0,2454000.0,297,397,1,5,프랑스,NaN,NaN,드라마,nan,NaN
2073,솔라리스,NaN,1904000.0,1904000.0,286,286,1,3,NaN,NaN,NaN,NaN,nan,NaN
2078,일트로바토레,NaN,3315000.0,15815000.0,283,783,1,16,미국,NaN,전체관람가,NaN,nan,NaN
2085,동거,NaN,392500.0,392500.0,278,278,1,6,한국,NaN,NaN,NaN,nan,NaN
2086,미니버 부인,NaN,566000.0,566000.0,278,278,1,11,NaN,NaN,NaN,NaN,nan,NaN
2091,이키루,NaN,1104000.0,1104000.0,276,276,1,4,NaN,NaN,NaN,NaN,nan,NaN
2099,마르코 폴로의 모험,NaN,544000.0,1338000.0,272,669,1,6,NaN,NaN,NaN,NaN,nan,NaN
2106,낙원,NaN,231822.0,231822.0,267,267,2,5,한국,NaN,NaN,"공포(호러),판타지",nan,NaN
2107,문화의 전당 3D,NaN,2170500.0,2170500.0,267,267,1,6,독일,NaN,NaN,다큐멘터리,nan,NaN
2114,"안녕, 루키",NaN,266822.0,266822.0,266,266,2,5,한국,NaN,NaN,"공포(호러),판타지",nan,NaN
2122,김치컬트,NaN,228822.0,228822.0,264,264,2,5,한국,NaN,NaN,"공포(호러),판타지",nan,NaN
2130,Contemporary Wednesday,NaN,3401000.0,3401000.0,260,260,1,9,한국,NaN,NaN,다큐멘터리,nan,NaN